/* html {
    scroll-snap-type: y mandatory;
} */

body {
    /* min-height: 100vh; */
    width: 100%;
    color: white;
    font-family: 'Open Sans';
    text-align: center;
    scroll-behavior: smooth;
    background-image: url('assets/portfolio-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 2px;
}

h3 {
    font-size: 2.25rem;
    margin: 0;
    letter-spacing: 1px;
}

p {
    font-size: 1.25rem;
    margin-top: 20px;
    line-height: 1.5rem;
}

span {
    font-size: 1.25rem;
}

/* .main-icon {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 3;
} */

#dropdown-menu {
    display: none;
}

.background-opacity {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(53,125,237,.7);
}

.landing-image {
    height: 100vh;
    width: 100%;
}

.flex-container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snap {
    scroll-snap-align: start;
}

.social-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    height: 35px;
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 12px;
    margin-right: 30px;
}

.social-icon {
    height: 28px;
    width: 28px;
}

.social-icon:hover {
    stroke: #192BC2;
}

.resume-btn {
    height: 35px;
    width: 210px;
    background-color: transparent;
    border: 3px solid white;
    margin-top: 10px;
    font-size: 1.25em;
    color: white;
    border-radius: 3px;
}

.resume-btn:hover {
    border-color: #192BC2;
    color: #192BC2;
    cursor: pointer;
}

.see-more-link {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more-link span {
    margin-right: 7px;
}

.about-section, .skills-section, .projects-section, .contact-section {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding-top: 40vh;
}

.about-flex {
    min-height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headshot-container {
    width: 35%;
    display: flex;
    justify-content: center;
}

.headshot {
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px black;
    background-image: url(assets/Portfoliopicture.jpg);
    background-size: cover;
}

.about-me {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-me div {
    width: 500px;
}

.about-me p {
    font-size: 1.5rem;
    line-height: 1.7rem;   
    margin-left: 4px;
}

.skills-flex {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.skill-container {
    margin: 20px 0px;
}

.skill-icon {
    height: 125px;
    width: 125px;
    margin: 15px;
    border-radius: 50%;
}

.skill-text {
    font-size: 22px;
    margin: 5px 0;
}

.project-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.project-card {
    height: 250px;
    width: 350px;
    box-sizing: border-box;
    margin: 10px 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 2px 1px black;
    overflow: hidden;
}

.project-image {
    height: 250px;
    width: 350px;
    border-radius: 10px;
}

.project-text-container {
    height: 250px;
    width: 350px;
    box-sizing: border-box;
    padding: 30px 8px;
    border-radius: 10px;
    background: rgba(0,0,0,.8);
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 500ms;
}

.project-card:hover .project-text-container {
    top: 0px;
}

.project-text {
    margin: 0;
}

.link-button {
    height: 30px;
    width: 120px;
    box-sizing: border-box;
    margin: 2px;
    border: 2px solid white;
    border-radius: 15px;
    background: transparent;
    color: white;
    font-size: 15px;
}

.link-button:hover {
    background: white;
    color: black;
}

.contact-prompt {
    width: 630px;
    margin: 10px auto;
}

@media(max-width: 1200px){
    body {
        padding: 0;
    }

    #main-icon {
        top: 15px;
        left: 15px;
    }

    .headshot-container, .about-me {
        width: 45%;
    }

    .headshot {
        height: 350px;
        width: 350px;
    }

    .about-me p {
        font-size: 1.25rem;
    }

    .skills-flex {
        width: 90%;
    }
}

@media(max-width: 800px){
    h1 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }

    .about-flex {
        flex-direction: column;
        justify-content: flex-start;
    }

    .headshot-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .headshot {
        height: 275px;
        width: 275px;
        border-radius: 50%;
    }

    .about-me {
        width: 100%;
        text-align: center;
    }

    .about-me div {
        width: 460px;
    }

    .about-me h3 {
        margin: 5px 0;
    }

    .about-me p {
        margin: 2px 0;
    }

    .skills-flex {
        width: 100%;
    }

    .skill-container {
        margin: 10px 0;
    }

    .skill-icon {
        height: 80px;
        width: 80px;
        margin: 15px 20px;
    }

    .skill-text {
        font-size: 1.25rem;
    }
}

@media(max-width: 480px){
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .social-flex {
        flex-direction: column;
    }

    .icon-container {
        height: 24px;
        padding: 0;
        margin: 0;
    }

    .social-icon {
        height: 24px;
        width: 24px;
    }

    .headshot {
        height: 250px;
        width: 250px;
    }

    .about-me {
        width: 90%;
    }

    .about-me p {
        font-size: 1rem;
    }

    .project-card, .project-image, .project-text-container {
        height: 175px;
        width: 280px;
    }
}