body {
    background-image: url('../../assets/portfolio-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Orbitron';
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 35px 0px 30px 0px;
}

span, p {
    font-size: 1.5rem;
}

section {
    width: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.snake {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-opacity {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(53,125,237,.7);
}

.arcade-back-btn {
    width: 180px;
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arcade-back-btn:hover p {
    color: #192BC2;
}

.arcade-back-btn:hover svg {
    stroke: #192BC2;
}