body {
    background-image: url('../../assets/portfolio-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.arcade-landing {
    height: 100vh;
    font-family: 'Orbitron';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-opacity {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(53,125,237,.7);
}

.arcade-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.arcade-description {
    width: 705px;
}

.games-container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 5%;
    margin-bottom: 20px;
}

.game-links {
    height: 300px;
    border-radius: 5px;
}

.under-construction {
    display: none;
}

@media(max-width: 1000px){
    .under-construction {
        display: initial;
    }

    .desktop-content {
        display: none;
    }
}