.arcade-landing {
    font-family: 'Orbitron';
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #357DED;
}

.arcade-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.arcade-description {
    width: 705px;
}

.games-container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 5%;
    margin-bottom: 20px;
}

.game-links {
    height: 300px;
    border-radius: 5px;
}

.under-construction {
    display: none;
}

@media(max-width: 1000px){
    .under-construction {
        display: initial;
    }

    .desktop-content {
        display: none;
    }
}