body {
    background-color: #357DED;
    font-family: 'Orbitron';
    color: white;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 35px 0px 30px 0px;
}

p {
    font-size: 24px;
    margin: 8px;
}

li {
    font-size: 16px;
    margin: 10px;
    list-style: none;
}